

::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=== root pour les variables ===*/

:root {
  --blue: #0065FC;
  --lightBlue: #DEEBFF;
  --bgColor:#F2F2F2;
}

/*=== body ===*/

body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
body {
  font-size: 16px;
}

.container {
  margin: 20px 20px 0px 20px;
}

/*=== Header ===*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: auto;
  height: 45px;
  position: relative;
  top: -12px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
nav > a {
  color: #0065FC;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 17px;
}
.navigation li {
  list-style-type: none;
  margin-left: 30px;
  font-size: 17px;
}
.navigation li a {
  color: #202020;
}
.navigation  {
  display: flex;
  flex-direction: row;
}
.navigation li:nth-child(1) a:hover, .navigation li:nth-child(2) a:hover,
.navigation li:nth-child(1) a:active, .navigation li:nth-child(2) a:active {
  color: #0065FC;
  border-top: 3px solid #0065FC;
  transition: all 0.4s;
  padding-top: 10px;
}
li {
  list-style: none;
}

/*=== Description ===*/

.description {
  font-size: 14px;
  padding-bottom: 20px;
}
.description p {
  font-size: 17px;
}

/*=== Recherches ===*/

.rechercher {
  display: flex;   
}
::placeholder{
  font-size: 16px;
  color: black;
  font-weight: bolder;
}
.fa-map-marker-alt {
  padding: 16px 16px;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 23px;
  background-color: #cccccc;
}
.recherche {   
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 210px;
}
.btn_recherche {
  border: none;
  width: 130px;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065FC;
  color: white;
  font-size: 14px; 
  font-weight: bolder; 
}
.btn_recherche:hover {
  background-color:#044ab3;
  cursor: pointer;
}
.SpanRecherche {
  display: inline;
}
.fa-search {
  display: none;
}

/*=== Les filtres ===*/

.conteneur_filtres {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
}
.conteneur_filtres h2 {
  line-height: 3;
  font-weight: bolder;
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
.filtre {
  display: flex;
  width: 210px;
  height: 45px;
  font-weight: bolder;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.filtreFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 20px;
}
.filtre i {
  font-size: 16px;
  color: #240bb4;
  background-color: var(--lightBlue);
  border-radius: 30px;
  width: 20px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  position:relative;
  left: -2px;
}
.filtre span {
  margin-left: 10px;
  padding-top: 13px;
  font-weight: bolder;
}
.filtre:hover {
  background-color: #c4f3ae;
  transition: all 0.4s;
}

/*=== Informations ===*/

.info {
  display: flex; 
  padding-bottom: 20px;
}
.info > p {
  margin-left: 10px;
  padding-top: 7px;
}
.icone_info {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #0065FC;
  border: 1px solid #ccc;
  justify-content: center;
  display: flex;
  align-items: center;
}

/*=== Section des hebergements ===*/

.containeur-herb-pop {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
aside.sidebar + section {
  background-color: lightgrey;
  width: 66%;
  border-radius: 20px;
  padding: 10px;
}
.chart {
  margin-left: 40px;
  color:#202020;
}
#Hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  justify-content: space-evenly;
}
.titre h2 {
  font-size: 22px;
  margin-left: 20px;
}
.item img {
  width:  100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius:  20px;
}
.stars {
  display:flex;
  font-size: 14px;
  padding-top: 10px;
  color: var(--blue)
}
.unCheckStart i {
  color: #ccc;
}
.item {
  width: 29%;
  height: 250px;
  border-radius: 20px;
  background-color: aliceblue;
  object-fit: cover;
  justify-content: center;
  padding: 5px 5px;
  margin: 20px 10px;
  cursor: pointer;
}
.item:hover {
  box-shadow: 1px 6px 8px -2px #202020;
}
li {
    list-style: none;
}
.texte {
  font-size: 18px;
  font-weight: bold;
  color: #202020;
}

/*===Aside/Sidebar==*/

.sidebar {
  width: 30%;
  background-color: lightgrey;
  border-radius: 20px;
  padding-bottom: 6px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar h2 {
  margin-left: 10px;
  font-size: 22px;
  padding-bottom: 22px;
}
.item1 img {
  width: 45%;
  height: 165px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.item1:nth-child(2) img {
  width: 45%;
}
.fa-star {
  display: flex;
  font-size: 14px;
  padding-top: 5px;
  color:blue;
}
.caption {
  margin-left: 10px;
  font-size: 14px;
}
.item1 {
  width: 91%;
  height: 165px;
  border-radius: 20px;
  background-color: aliceblue;
  object-fit: cover;
  padding: 5px;
  margin: 15px 10px;
  display: flex;
  cursor: pointer;
}
.item1:hover {
  box-shadow: 1px 6px 8px -2px #202020;
}

li {
  list-style: none;
}

/*===Conteneur activités==*/

#conteneur_activites {
  display: flex;
  Flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.conteneur_activites h2 {
  font-size: 22px;
}
.activites {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.activites figure > img {
  object-fit: cover;
}
.activites figure {
  box-shadow: 1px 6px 8px -2px #202020;
  border-radius: 20px;
  cursor: pointer;
}
.activites figure figcaption {
  padding: 10px 0px 10px 25px;
}
.activites figure figcaption > h4 {
  margin: 0px;
}
.grande_image img {
  height: 350px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.petite_image img{
  width: 100%;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.mb {
  margin-bottom: 25px;
}

/*=== Footer ===*/

.footer {
  display: flex;
  padding-top: 30px;
  background: lightgrey;
  padding-bottom: 20px;
  justify-content: space-around;
}
.footer li {
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {

  .item img {
    width: 100%;
  }
  .item1:nth-child(2) img {
    width: 45%;
  }
  .grande_image img {
    /* height: 350px; */
    width: 100%;
    height: 83%;
  }
  .petite_image img {
    width: 100%;
    /* height: 140px; */
  }
  .Photo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #fort {
    height: 200px;
  }
  #ile {
    height: 160px;
  } 
  #ile img {
    height: 70%;
  }
  #fort img {
    height: 77%;
  }
  .grande_image {
    width: 50%;
  }
  .grande_image > figure {
    height: 100%;
    width: 85%;
    margin-top: 0px;
    margin-left: 15px;
  }
  .petite_image > figure {
    width: 100%;
    margin: unset;
  }
  .petite_image {
    width: 95%;
  }

}

@media screen and (max-width: 768px) {

  /* Footer */
 
  .footer {
    flex-direction: column;
  }
  .footer .contact, .hebergement, .apropos {
    margin: 0px auto;
    width: 70%;
  }
  .SpanRecherche {
    display: none;
  }
  .fa-search {
    display: inline;
  }

  /* Hebergement */

  .containeur-herb-pop {
    flex-direction: column;
  }
  .aside.sidebar + section, .heberg {
    width: 100% !important;
    background-color: unset !important;
    border-radius: unset !important;
    margin-left: -10px;
  }
  .item {
    width: 350px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0px 0px 8px 1px #202020;
  }
  .item1:nth-child(2) img {
    width: 45%;
  }
  .item img {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    padding: 20px;
    margin: 0px -20px;
    border-radius: unset;
  }
  .item1 {
    background-color: #fff;
    box-shadow: 0px 0px 8px 1px #202020;
  }

  /* Activite */
 
  .activites {
    flex-direction: column;
  }
  .grande_image img, .petite_image img {
    height: 220px;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  #fort {
    height: 260px;
  }
  #fort img {
    height: 77%;
  }
.activites figure {
    width: 90%;
    margin: 15px auto;
}

  /* Header */

  header nav {
    width: 100%;
    display: block;
  }
  .navigation {
    width: 100vw;
    border-bottom: 3px solid #bbb8b85b;
    margin-left: -20px;
    justify-content: center;
  }
  .navigation li {
    width: 50%;
    text-align: center;
    margin-left: unset;
    padding-bottom: 10px;
    margin-bottom: -3px;
  }
  .navigation li:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    transition: all 0.4s;
    /* padding-bottom: 20px; */
  }
  .navigation li:hover a {
    color: #0065FC;
  }
  .navigation li:nth-child(1) a:hover, .navigation li:nth-child(2) a:hover,
  .navigation li:nth-child(1) a:active, .navigation li:nth-child(2) a:active {
    border-top: unset;
    padding-top: unset;
  }
}
