@media screen and (max-width: 768px) {
    h1 {
      color: #240bb4;
    }
    .footer {
      flex-direction: column;
    }
    .filtreFlex {
      flex-direction: column;
      display: flex;
    }
    #hebergement {
      flex-shrink: 0;
      padding-left: 0px;
    }
    .item {
      padding-left: 0;
    }
    .item img {
      position: static;
      margin-bottom: 1rem;
      display: block;
      width: 100%;
    }
    .item1 {
      padding-left: 0;
    }
    .item1 img {
      position: static;
      margin-bottom: 1rem;
      display: block;
      width: 100%;
    }
    #hebergement {
      flex-shrink: 0;
      padding: 20px;
    }
    .sidebar {
      margin: 0px;
      float: left;
      display: flex;
      flex-direction: column;
    }
    footer {
      flex-direction: row;
    }
    .hebergement {
      margin-left: 150px;
      margin-right: 100px;
    }
    .contact {
      margin-left: 120px;
    }
}
@media screen and (max-width: 865px) {
  h1 {
    color: #240bb4;
  }
  .footer {
    flex-direction: column;
  }
  .filtreFlex {
    flex-direction: column;
    display: flex;
  }
  #hebergement {
    flex-shrink: 0;
    padding-left: 0px;
  }
  .item {
    padding-left: 0;
  }
  .item img {
    position: static;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }
  .item1 {
    padding-left: 0;
  }
  .item1 img {
    position: static;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }
  #hebergement {
    flex-shrink: 0;
    padding: 20px;
  }
  .sidebar {
    margin: 0px;
    float: left;
    display: flex;
    flex-direction: column;
  }
  footer {
    flex-direction: row;
  }
  .hebergement {
    margin-left: 150px;
    margin-right: 100px;
  }
  .contact {
    margin-left: 120px;
  }
}
/*
 
*/
@media screen and (max-width: 1100px) {
  body {
    max-width: 100%;
  }
  .sidebar {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    float: left;
  }
  #hebergement {
    flex-shrink: 0;
  }
  section {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .navigation {
    width: 100%;
    float: left;
    flex-direction: column;
    display: block;
  }
  .conteneur_activites {
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
  }
  .conteneur_filtres {
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  .filtreFlex {
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    display: block;
  }
  .containeur-herb-pop {
    width: 100%;
  }
  footer {
    flex-direction: row;
  }
  .hebergement {
    margin-left: 150px;
    margin-right: 100px;
  }
  .contact {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1300px) {

}

/*
 STYLE PAR DEFAUT POUR DESKTOP
*/
::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*=== root pour les variables ===*/
:root {
  --blue: ##0065FC;
  --lightBlue: #DEEBFF;
  --bgColor:#F2F2F2 ;
}

/*=== body ===*/

body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
body {
  font-size: 16px;
  padding: 20px 10px;
  margin: 10px 10px;
}

/*=== header ===*/

.header {
  display: flex;
  flex-direction: row;
}
.logo {
  width: auto;
  height: auto;
}

.navigation li {
  list-style-type: none;
  margin-left: 30px;
}

.navigation li a {
  color: #202020;
}
.navigation li:last-child a {
  color: #0065FC;
  font-weight: bold;
}

.navigation  {
  display: flex;
  flex-direction: row;
  margin-left: 780px;
}
.navigation li:nth-child(1) a:hover, .navigation li:nth-child(2) a:hover,
.navigation li:nth-child(1) a:active, .navigation li:nth-child(2) a:active {
  color: #0065FC;
  border-top: 3px solid #0065FC;
  transition: all 0.4s;
  padding-top: 10px;
}

li {
  list-style: none;
}

/*=== description ===*/

.description {
  font-size: 14px;
  padding-bottom: 20px;
}
.description p {
  font-size: 17px;
}

/*=== recherches ===*/

.rechercher {
  display: flex;   
}
::placeholder{
  font-size: 16px;
  color: black;
  font-weight: bolder;
}
.fa-map-marker-alt {
  padding: 16px 16px;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 23px;
  background-color: #cccccc;
}
.recherche {   
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 210px;
}
.btn_recherche {
  border: none;
  width: 130px;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065FC;
  color: white;
  font-size: 14px; 
  font-weight: bolder; 
}
.btn_recherche:hover {
  border: 1px solid #044ab3;
  background-color:#044ab3;
  cursor: pointer;
}
.SpanRecherche {
  display: inline;
}
.fa-search {
  display: none;
}

/*=== fes filtres ===*/

.conteneur_filtres {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.conteneur_filtres h1 {
  line-height: 3;
  font-weight: bolder;
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
.filtre {
  display: flex;
  width: 210px;
  height: 45px;
  font-weight: bolder;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 10px;
}
.filtreFlex {
  display: flex;
  flex-flow: nowrap;
  padding-top: 20px;
}
.filtre i {
  font-size: 16px;
  color: #240bb4;
  background-color: var(--lightBlue);
  border-radius: 30px;
  width: 20px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  position:relative;
  left: -2px;
}
.filtre span {
  margin-left: 10px;
  padding-top: 13px;
  font-weight: bolder;
}
.filtre:hover {
  background-color: #c4f3ae;
  transition: all 0.4s;
}

/*=== informations ===*/

.info {
  display: flex; 
  width: 50%;
  padding-bottom: 20px;
}
.info > p {
  margin-left: 10px;
  padding-top: 7px;
}
.icone_info {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #0065FC;
  border: 1px solid #ccc;
}
.fa-info {
  margin-left: 10px;
  padding-top: 6px;
}

/*=== section des hebergements ===*/

.containeur-herb-pop {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

aside.sidebar + section {
  background-color: #cccccc;
  width: 70%;
  border-radius: 20px;
  padding: 10px;
}
.chart {
  margin-left: 40px;
  color:#202020;
}
#Hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  justify-content: space-evenly;
}
.titre h2 {
  font-size: 30px;
}
.item img {
  width: 250px;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius:  20px;
}
.stars {
  display:flex;
  font-size: 14px;
  padding-top: 10px;
  color: var(--blue)
}
.unCheckStart i {
  color: #ccc;
}
.item {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: aliceblue;
  object-fit: cover;
  justify-content: center;
  padding: 5px 5px;
  margin: 20px 10px;
  cursor: pointer;
}

.item:hover {
  box-shadow: 1px 6px 8px -2px #202020;
}
li {
    list-style: none;
}
.texte {
  font-size: 18px;
  font-weight: bold;
  color: #202020;
}

/*===Aside/sidebar==*/

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 27%;
  float: right;
  background-color: #cccccc;
  justify-content: center;
  border-radius: 20px;
  padding-bottom: 6px;
}
.sidebar h2 {
  margin-left: 10px;
  font-size: 25px;
  padding-bottom: 22px;
}
.item1 img {
  width: 170px;
  height: 165px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.fa-star {
  display: flex;
  font-size: 14px;
  padding-top: 5px;
  color:blue;
}
.caption {
  margin-left: 10px;
  font-size: 14px;
}
.item1 {
  width: 91%;
  height: 165px;
  border-radius: 20px;
  background-color: aliceblue;
  object-fit: cover;
  padding: 5px;
  margin: 15px 10px;
  display: flex;
  cursor: pointer;
}

.item1:hover {
  box-shadow: 1px 6px 8px -2px #202020;
}

li {
  list-style: none;
}

/*===conteneur activites==*/

#conteneur_activites {
  display: flex;
  Flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
}
.conteneur_activites h2 {
  font-size: 22px;
}
.activites {
  display: flex;
  justify-content: center;
}

.activites figure > img {
  object-fit: cover;
}

.activites figure {
  box-shadow: 1px 6px 8px -2px #202020;
  border-radius: 20px;
  cursor: pointer;
}

.activites figure figcaption {
  padding: 10px 0px 10px 25px;
}
.activites figure figcaption > h4 {
  margin: 0px;
}
.grande_image img {
  height: 350px;
  width: 280px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.petite_image img{
  width: 280px;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#fort {
  height: 200px;
}

.mb {
  margin-bottom: 25px;
}

/*===footer ===*/

.footer {
  display: flex;
  padding-top: 30px;
  background: #cccccc;
  padding-bottom: 20px;
}
.footer li {
  padding-bottom: 20px;
}
.hebergement {
  margin-left: 250px;
}
.contact {
  margin-left: 250px;
}
.apropos {
  margin-left: 35px;
}


